.open{
    background-color: #ffd467;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.insideopen{
    background-color: white;
    width: 1300px;
    height: 600px;
    
    border-radius: 50px;
}
.rowtab{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-left: 30px;
    /* flex-direction: row; */
    margin-top: 20px;
    font-size: smaller;
}
.rowtab1{
    display: flex;
flex-direction: row;
text-align: end;
margin-left: 250px;

}
.forh{
    font-size: 50px;
}
h5{
    padding-left: 100px;
    color: grey;
}
.insideopen2{
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.openimage{
    width: 600px;
    height: 400px;
}
.opencontent{
    margin-left: 100px;
    margin-top: 50px;
    
}
.insidelogin{
    /* background-color:rgb(255, 255, 255); */
    /* width: 1000px; */
    /* height: 500px; */
    margin-top: 45px;
    /* border-radius: 50px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.login{
   
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center   ;
    /* background-color: #51adfb; */
    background-color:#ffd467;
    
}
.category{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    height: 100px;
width: 100%;
font-size: 30px;
/* margin-top: -25px; */
font-weight: bolder;
/* color: #ffb500; */
    background-color: white;
}
.clickhere{
font-size: 15px;
font-weight: lighter;
color: gray;
text-align: center;

}
/* .logo{
    margin-top: 0px;
    background-color:#fcdeda;
    border:5px solid  white;
    width: 180px;
    height: 180px;
    margin-top: 20px;
    margin-right: 0px;
    border-radius: 30px;
justify-content: center;
    display: flex;
    text-align: center;
    align-items: center;
} */